body{
    font-family: 'Heebo', sans-serif;
    background-color: rgb(242, 235, 224, 0.3);
}

#content{
    font-size: 24px;
    text-align: center;
}

#list{
    height: 250px;
    max-width: 400px;
    margin: 30px auto;
    /* padding: 30px 0; */
    background-size: auto;
    border: rgba(0,0,0,0.3) solid;
    border-radius: 5px;
    text-align: center;
    font-size: 28px;
    list-style-type: none;
    padding-left: 0;
}

input{
    padding: 9px;
    text-align: center;
    border-radius: 3px;
    border: grey 0.5px solid;
}

button{
    border-radius: 3px;
    border: grey 0.5px solid;
}

.margen{
    color: black;
    background-color: blue;
    margin: 10px;
    padding: 10px;
    border: 5px black solid;
    width: 335px;
    overflow: hidden;
}

a:link{
    color: blue;
}

a:visited{
    color:blueviolet;
}

a:hover{
    color: rgb(154, 35, 35);
}

a:active{
    color: rgb(0, 0, 0);
}

mark{
    background-color: rgb(0, 36, 154, 0.2);
    border-bottom: black solid 0.2px;
    border-radius: 4px
}